name: Deploy

on:
  push:
    tags:
      - 'dev-*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh 

      - name: Build Docker Image
        run: docker build -t .

      - uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          dontautocreate: true
          usedocker: true

      - name: Check Heroku Logs
        run: heroku logs --tail --app ${{secrets.HEROKU_APP_NAME}}
    