name: Deploy

on:
  push:
    tags:
      - 'dev-*'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh 

      - name: Go setup
        uses: actions/setup-go@v4
        with:
          go-version: ./go.mod
          cache-dependency-path: ./go.sum
      
      - name: Go build
        run: go build -o ./backend/bin/main ./backend/main.go

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.14.15
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_NAME}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}
          dontautocreate: true
          usedocker: true
    